body{
	}
.header{
	background:url(../images/back1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	max-width:100%;
	height:auto;
	padding-top:120px;
	padding-bottom:120px;
	color:#fff;

}
.heading{
	margin-top:60px;
	text-transform:capitalize;
}
.text{
margin-top:40px;
}
.button{
margin-top:20px;
}
.portfolio{
	padding-top: 100px;
padding-bottom: 100px;
border-bottom:1px solid #E6E6E6;

}
.center{
	margin-top:50px;
}
.bottom-top{
	border-bottom:1px solid #E6E6E6;
	padding-top: 38px;
padding-bottom: 30px;
}
.bottom-down{
	padding-top: 30px;
padding-bottom: 30px;
}
.footer{
	margin: 0;
padding: 0;
display: inline-block;
}